# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

.Rproj.user
.Rhistory
.RData
.Ruserdata

PersonalSettings.R
PersonalSettings.r

**/gbif/Data/
content/courses/krigr/Covariates/GMTED2010.nc
content/courses/krigr/Data/ExtentRaw.nc
content/courses/krigr/Data/FirstDL.nc
content/courses/krigr/Data/Germany_Hist_ERA.nc
content/courses/krigr/Data/historical_tas_1981-2000.nc
content/courses/krigr/Data/Hourly_BC.nc
content/courses/krigr/Data/Mountains_df.RData
content/courses/krigr/Data/NDVI.nc
content/courses/krigr/Data/Past_BC.nc
content/courses/krigr/Data/points_DL.nc
content/courses/krigr/Data/PointsRaw.nc
content/courses/krigr/Data/Present_BC.nc
content/courses/krigr/Data/QS_Raw.nc
content/courses/krigr/Data/Qsoil_BC.nc
content/courses/krigr/Data/QuickStart_Raw.nc
content/courses/krigr/Data/SpatialPolygons_DL.nc
content/courses/krigr/Data/SpatialPolygonsEns_DL.nc
content/courses/krigr/Data/SpatialPolygonsEns.nc
content/courses/krigr/Data/SpatialPolygonsRaw.nc
content/courses/krigr/Data/ssp585_tas_2041-2060.nc
content/courses/krigr/Data/TimeSeries.nc
content/courses/krigr/Data/TimeSeriesSD.nc
content/courses/krigr/Exports/2m_temperature_1995-01-02_1995-01-04_day.nc
content/courses/krigr/Exports/AirTemp_NDVI.nc
content/courses/krigr/Exports/BC_Temperature_Krig
content/courses/krigr/Exports/BC_Temperature_Krig.nc
content/courses/krigr/Exports/DE_CMIP-HIST.nc
content/courses/krigr/Exports/DE_hist.nc
content/courses/krigr/Exports/DE_SSP585_2041-2060.nc
content/courses/krigr/Exports/ExtentKrig
content/courses/krigr/Exports/ExtentKrig.nc
content/courses/krigr/Exports/GMTED2010_Target.nc
content/courses/krigr/Exports/GMTED2010_Train.nc
content/courses/krigr/Exports/PointsKrig
content/courses/krigr/Exports/PointsKrig.nc
content/courses/krigr/Exports/QS_Krig.nc
content/courses/krigr/Exports/QS_Pipe.nc
content/courses/krigr/Exports/QuickStart_Krig_Kriged.nc
content/courses/krigr/Exports/QuickStart_Krig_STDev.nc
content/courses/krigr/Exports/SE_AirTemp_NDVI.nc
content/courses/krigr/Exports/SE_BC_Temperature_Krig
content/courses/krigr/Exports/SE_BC_Temperature_Krig.nc
content/courses/krigr/Exports/SE_DE_CMIP-HIST.nc
content/courses/krigr/Exports/SE_DE_hist.nc
content/courses/krigr/Exports/SE_DE_SSP585_2041-2060.nc
content/courses/krigr/Exports/SE_ExtentKrig
content/courses/krigr/Exports/SE_ExtentKrig.nc
content/courses/krigr/Exports/SE_PointsKrig
content/courses/krigr/Exports/SE_PointsKrig.nc
content/courses/krigr/Exports/SE_QS_Krig.nc
content/courses/krigr/Exports/SE_QS_Pipe.nc
content/courses/krigr/Exports/SE_SpatialPolygonsKrig
content/courses/krigr/Exports/SE_SpatialPolygonsKrig.nc
content/courses/krigr/Exports/SE_SpatialPolygonsLocalKrig
content/courses/krigr/Exports/SE_SpatialPolygonsLocalKrig.nc
content/courses/krigr/Exports/SpatialPolygonsKrig
content/courses/krigr/Exports/SpatialPolygonsKrig.nc
content/courses/krigr/Exports/SpatialPolygonsLocalKrig
content/courses/krigr/Exports/SpatialPolygonsLocalKrig.nc
content/courses/krigr/Exports/Kriging_AirTemp_NDVI.nc/0001_data.nc
content/courses/krigr/Exports/Kriging_AirTemp_NDVI.nc/0001_SE.nc
content/courses/krigr/Exports/Kriging_QS_Pipe.nc/0001_data.nc
content/courses/krigr/Exports/Kriging_QS_Pipe.nc/0001_SE.nc
content/courses/krigr/Exports/Kriging_QS_Pipe.nc/0002_data.nc
content/courses/krigr/Exports/Kriging_QS_Pipe.nc/0002_SE.nc
content/courses/krigr/Exports/Kriging_QS_Pipe.nc/0003_data.nc
content/courses/krigr/Exports/Kriging_QS_Pipe.nc/0003_SE.nc
content/courses/krigr/Covariates/BC_Water_Krig
content/courses/krigr/Covariates/BC_Water_Krig.nc
content/courses/krigr/Covariates/Covariates_Target.nc
content/courses/krigr/Covariates/Covariates_Train.nc
content/courses/krigr/Covariates/GMTED2010_Target.nc
content/courses/krigr/Covariates/GMTED2010_Train.nc
content/courses/krigr/Covariates/SE_BC_Water_Krig
content/courses/krigr/Covariates/SE_BC_Water_Krig.nc
content/courses/krigr/Covariates/SoilCovs.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0001_data.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0001_SE.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0002_data.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0002_SE.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0003_data.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0003_SE.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0004_data.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0004_SE.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0005_data.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0005_SE.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0006_data.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0006_SE.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0007_data.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0007_SE.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0008_data.nc
content/courses/krigr/Covariates/Kriging_BC_Water_Krig/0008_SE.nc
